@import "/styles/variables.scss";

.main-pagination {
  display: flex;
  flex-direction: column;

  .div-view-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    height: 33px;

    .div-view-all {
      margin-inline-start: 16px;

      &[data-visible="false"] {
        display: none;
      }

      button {
        border: none;
        text-decoration-line: underline;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        background: $white-color;
        color: $black-color;
        cursor: pointer;
      }
    }

    &[data-hide="true"] {
      .div-view-all {
        display: none;
      }
    }
  }

  .div-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-top: 0;
    @media (min-width: $breakPoint-desktop) {
      margin-top: 40px;
    }

    &[data-visible="false"] {
      display: none;
    }

    &[data-hide="true"] {
      display: none;
    }

    .div-page-count {
      & span {
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        color: rgba(0, 0, 0, 0.4);
      }

      & span:first-child {
        color: $black-color;
      }

      & span:nth-child(2) {
        margin-inline: 8px;
      }
    }

    .div-left-arrow,
    .div-right-arrow {
      width: 20px;
      height: 20px;
      margin-inline: 24px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

html[dir="rtl"] {
  .div-controls {
    .div-page-count {
      display: flex;
      direction: rtl;
    }
    .div-left-arrow,
    .div-right-arrow {
      transform: rotate(180deg);
    }
  }
}
