@import "/styles/variables.scss";

.user-navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 0;
  font-size: 13px;
  background-color: $black-color;
  color: white;

  @media (min-width: $breakPoint-desktop) {
    font-size: 14px;
  }

  .left_div {
    display: flex;
    flex-direction: row;

    & > div {
      display: flex;
      margin-inline-start: 16px;
      align-items: center;

      &:first-child {
        margin-inline-start: 24px;
      }
    }

    .sidebar_btn {
      background-color: transparent;
      height: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      line-height: 0;
      cursor: pointer;
    }

    .boutique_text {
      @media (min-width: $breakPoint-desktop) {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
    }

    .brand_text {
      @media (min-width: $breakPoint-desktop) {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
      }
    }

    .brand_ticker {
      height: 40px;
      overflow: hidden;
      position: relative;
      ul {
        margin: 0;
        padding: 0;
        animation: scrollUp 6s infinite ease-in-out;
        cursor: default;

        &:hover {
          animation-play-state: paused;
        }

        li {
          opacity: 1;
          height: 20px;
          padding-block-start: 40px;
          list-style: none;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      @keyframes scrollUp {
        0% {
          -webkit-transform: translateY(20%);
          transform: translateY(20%);
        }
        11.11% {
          -webkit-transform: translateY(20%);
          transform: translateY(20%);
        }
        33.33% {
          -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
        }
        44.44% {
          -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
        }
        66.66% {
          -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
        }
        77.77% {
          -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
        }
        100% {
          -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
        }
      }
    }
  }

  .right_div {
    display: flex;
    flex-direction: row;

    & > a,
    & > div {
      cursor: pointer;
      display: flex;
      margin-inline-end: 18px;
      align-items: center;

      &:last-child {
        margin-inline-end: 16px;

        @media (min-width: $breakPoint-desktop) {
          margin-inline-end: 24px;
        }
      }
    }
  }
}

.link-text {
  color: $black-color;
  font-weight: 500;
}

.closeButton {
  position: absolute;
  inset-inline-end: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 0;

  svg {
    width: 12px;
    height: 12px;

    @media (min-width: $breakPoint-desktop) {
      width: 20px;
      height: 20px;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 100%;
  width: 100vw;
  height: 100vh;
  inset-inline-end: 0;
  z-index: 3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 3s 4s;
  display: none;

  &[data-opened="true"] {
    opacity: 1;
    display: block;
  }
}

html[dir="rtl"] {
  .right_div {
    & > a,
    & > div {
      margin-inline-end: 24px;
      &:last-child {
        margin-inline-end: 16px;

        @media (min-width: $breakPoint-desktop) {
          margin-inline-end: 24px;
        }
      }
    }
  }
}

.rightside-drawer {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  z-index: 30;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  &[data-opened="true"] {
    transition: none;
    height: 100vh;
    opacity: 1;
  }

  @media (min-width: $breakPoint-desktop) {
    position: absolute;
  }
}
