.banner-button {
    border: none;
    border-radius: 100px;
    height: 51px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    &[data-style= 'black'] {
      background: black;
      color: white;
    }

    &[data-style= 'white'] {
      background: white;
      color: black;
    }
  }