.banner-button {
    background: black;
    border: none;
    border-radius: 100px;
    color: white;
    height: 51px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }