.sidebar_wraper{
    width: 500px;
    background-color: white;
    height: 100%;
    top: 40px;
    height: 876px;
    position: absolute;
    overflow-y: auto;
    z-index: 50;
    right: 0;
    transition: height 0.1s 0.3s;
    pointer-events: all;
    &:-webkit-scrollbar {
        display: none;
        width: 0;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    
}