@import "/styles/variables.scss";

.wrapper {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
  z-index: 50;
  pointer-events: all;
  transform: translateX(100%);
  transition: all 0.3s;

  &[data-opened="true"] {
    transform: translateX(0);
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  @media (max-width: $breakPoint-mobile) {
   display: flex;
   flex-direction: column;
  }

  @media (min-width: $breakPoint-desktop) {
    position: absolute;
    width: 500px;
    height: 876px;
  }

  .close-menu-wrapper {
    padding: 24px 24px 0;
    .closebtn {
      text-align: end;
    }

    .back-btn {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      margin-block-start: 24px;
      margin-block-end: 24.5px;

      span {
        margin-inline-start: 4.77px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        letter-spacing: 0em;
      }
    }

    button {
      padding: 0;
      background-color: transparent;
      border: 0;
    }
  }
}

html[dir="rtl"] {
  .wrapper {
    transform: translateX(-100%);

    &[data-opened="true"] {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .close-menu-wrapper {
    .back-btn {
      svg {
        transform: rotateY(180deg);
      }
    }
  }
}
