@import "/styles/variables.scss";

.brand_sidebar_div {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  z-index: 30;
  height: 0;
  transition: height 0.1s 0.3s;

  @media (min-width: $breakPoint-desktop) {
    position: absolute;
    top: 100%;
  }

  &[data-opened="true"] {
    height: 100vh;
    transition: none;
  }

  .brand_sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 4;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    overflow-y: auto;
    padding: 25px;
    pointer-events: all;

    @media (min-width: $breakPoint-desktop) {
      position: absolute;
      width: 500px;
      height: 892px;
    }

    &[data-opened="true"] {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .text_div {
    display: flex;
    flex-direction: column;
    margin-inline: 0;
    margin-block-start: 24.5px;
    margin-block-end: 38px;
    align-items: center;

    @media (min-width: $breakPoint-desktop) {
      margin-inline: 60px;
      margin-block-start: 120px;
      margin-block-end: 60px;
    }

    .slogan_div {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      margin-block: 16px;
    }
  }

  .brand_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 8px;

    @media (min-width: $breakPoint-desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & > div {
      display: flex;
      flex-direction: column;
      color: $black-color;
      align-items: center;
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 500;

      a {
        margin-block-end: 24px;
        color: $black-color;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;

        @media (min-width: $breakPoint-desktop) {
          margin-block: 16px;
          font-size: 14px;
          line-height: 120%;
          text-decoration-line: underline;
        }
      }
    }

    .brands-list {
      cursor: pointer;
    }
  }
}

html[dir="rtl"] .brand_sidebar {
  transform: translateX(100%);
  &[data-opened="true"] {
    transform: translateX(0);
    opacity: 1;
  }

  .brand_div {
    & > div:nth-child(2) {
      direction: ltr;
    }
  }
}

.menu-close-icon {
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 0em;
  color: $black-color;

  button {
    background-color: transparent;
    border: 0;
  }

  span {
    margin-inline-start: 4.77px;
  }
}

html[dir="rtl"] {
  .menu-close-icon {
    svg {
      transform: rotateY(180deg);
    }
  }

  .brands-logo {
    direction: ltr;
  }
}
