.brand_sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 4;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  overflow-y: auto;
  padding: 25px;

  @media (min-width: 1024px) {
    top: 100%;
    width: 500px;
    height: 892px;
  }

  &[data-opened="true"] {
    transform: translateX(0);
    opacity: 1;
  }

  .text_div {
    display: flex;
    flex-direction: column;
    margin-inline: 0;
    margin-block-start: 25px;
    margin-block-end: 38px;
    align-items: center;

    @media (min-width: 1024px) {
      margin-inline: 60px;
      margin-block-start: 120px;
      margin-block-end: 60px;
    }

    .slogan_div {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      margin-block: 16px;
    }
  }

  .brand_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 8px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & > div {
      display: flex;
      flex-direction: column;
      color: black;
      align-items: center;
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 500;

      a {
        margin-block-end: 16px;
        color: #000000;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;

        @media (min-width: 1024px) {
          margin-block: 16px;
          text-decoration-line: underline;
        }
      }
    }
  }
}

html[dir="rtl"] .brand_sidebar {
  transform: translateX(100%);
  &[data-opened="true"] {
    transform: translateX(0);
    opacity: 1;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  height: 165vh;
  top: 100%;
  inset-inline-end: 0;
  z-index: 3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 3s 4s;
  display: none;

  &[data-opened="true"] {
    opacity: 1;
    display: block;
  }
}

.menu-close-icon {
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 0em;
  color: #000000;

  button {
    background-color: transparent;
    border: 0;
  }

  span {
    margin-inline-start: 4.77px;
  }
}

html[dir="rtl"] {
  .menu-close-icon {
    svg {
      transform: rotateY(180deg);
    }
  }

  .brands-logo {
    direction: ltr;
  }

  .brands-list {
    a {
    }
  }
}
