.heading {
    //styleName: Web/Header/H3 - Medium 24;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;

    @media (min-width: 1024px) {

        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 32px;
    }

}

.title {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: start;

    @media (min-width: 1024px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: start;
        margin-top: 0;
        margin-bottom: 4px;
        margin-inline-start: 4px;
        padding-inline-start: 17px;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    width: 100%;
    padding-inline: 20px;
    padding-block: 11px;
}

.first-name {
    margin-inline-end: 16px;
}

.input-field {
    margin-bottom: 24px;
}

.name-section {
    display: flex;
}

.button {
    width: 200px !important;
    height: 51px !important;

    @media (min-width: 1024px) {
        float: right;
        margin-top: 74px;
        margin-bottom: 40px;
    }
}

.feedback-container {
    position: relative;
    padding-block-start: 60px;

    @media (min-width: 1024px) {
        padding-inline: 40px;
    }
}

.cross-icon {
    display: none;

    @media (min-width: 1023px) {
        display: block;
        position: absolute;
        right: 14px;
        top: 14px;

        svg {
            width: 12px;
            height: 12px;
        }
    }
}

.first-name {
    width: 100%;
}

.last-name {
    width: 100%;
}