@import "/styles/variables.scss";

.category-container {
    width: 100%;
    @media (min-width: $breakPoint-desktop) {
        padding-inline: 80px;
        padding-block-end: 80px;
    }
}

.contact-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;

    @media (min-width: $breakPoint-desktop) {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: start;
    }
}

.category-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
    margin: 0;

    @media (min-width: $breakPoint-desktop) {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: start;
    }
}

.category-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: start;
    margin-block-start: 8px;
    margin-block-end: 8px;

    @media (min-width: $breakPoint-desktop) {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: start;
    }
}

.category-details {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
    margin-block-start: 0;
    margin-block-end: 0;

    @media (min-width: $breakPoint-desktop) {
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: start;

    }
}

.category-number {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;

    &:nth-child(1) {
        margin-block-start: 8px;

    }

    margin-block: 0;
}

.category-block {
    display: grid;
    row-gap: 8px;

    @media (min-width: $breakPoint-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        column-gap: 40px;

    }
}

.category-section {
    padding: 24px;

    @media (min-width: $breakPoint-desktop) {
        padding-inline: 24px;
        padding-block-start: 24px;
        min-height: 189px;
        height: fit-content;
    }
}

.category-button {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    @media (min-width: $breakPoint-desktop) {
        margin-top: 20px;
    }

}

.category-imageBlock {
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    display: flex;
    padding: 10.5px 20px;
    width: fit-content;
    border-radius: 100px;
    margin-top: 32px;

    p {
        margin-left: 10px !important;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
}

html[dir="rtl"] {
    .category-mainImage {
      transform: scaleX(-1);
    }

    .category-imageBlock {
        p {
            margin-right: 10px !important;
        }
    }
  }