.site-navbar {
  display: flex;
  align-items: center;
  // justify-content: center;
  position: relative;
  padding-inline: 24px;
  background-color: #fff;

  .back-btn {
    display: none;
    a {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      text-decoration: none;

      div {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }
  }

  .nav-links-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .nav-links {
      display: flex;
      align-items: center;
      // justify-content: center;
      flex: 1;
      column-gap: 60px;

      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 19px;
        cursor: pointer;
        position: relative;

        & > span {
          color: rgba(0, 0, 0, 0.8);
          font-weight: 500;
          font-size: 16px;
          line-height: 19.2px;
          border-bottom: 2px solid transparent;

          &:hover {
            color: black;
          }
        }
        div {
          height: 19px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-inline-start: 4px;
          transform: scale(0);
          transition: transform 0.1s ease-in-out, width 0.1s ease-in-out;
          width: 0;

          &[data-visible="true"] {
            transform: scale(1);
            width: 19px;
          }

          span {
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: #c4c4c4;
            font-weight: 400;
            font-size: 9px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.05em;
          }
        }

        &::after {
          content: "";
          position: absolute;
          margin-block-start: 8px;
          width: 0px;
          height: 2px;
          top: 100%;
          left: 50%;
          bottom: 15px;
          background-color: black;
          transition: width ease-in-out 0.15s, left ease-in-out 0.15s;
        }

        &[data-selected="true"]::after {
          width: 100%;
          left: 0;
        }
      }
    }

    .div-order-dropdown {
      opacity: 1;
      transition: opacity 0.2s 0.5s ease-in-out;

      &[data-opened="true"] {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

  .category-dropdown {
    display: flex;
    position: absolute;
    top: 100%;
    z-index: 100;
    inset-inline-end: 0;
    inset-inline-start: 0;
    height: 0;
    opacity: 1;
    transition: height 0.2s ease-in-out 0.1s;
    overflow: hidden;

    &[data-opened="true"] {
      transition: height 0.2s ease-in-out;
      height: 347px;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    height: 0;
    top: 100%;
    inset-inline-end: 0;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s, height 0.3s ease-in-out 0.5s;

    &[data-opened="true"] {
      transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
      opacity: 1;
      height: 100vh;
    }
  }
}

.div-counter {
  div {
    height: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 4px;
    transform: scale(0);
    transition: transform 0.1s ease-in-out, width 0.1s ease-in-out;
    width: 0;

    &[data-visible="true"] {
      transform: scale(1);
      width: 19px;
    }

    span {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background: #c4c4c4;
      font-weight: 400;
      font-size: 9px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}
.div-filter-btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding-inline-end: 80px;
  padding-block-end: 16px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  button {
    transition: width 0.1s ease-in-out;
  }

  &[data-has-count="false"] {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
}

html[dir="rtl"] {
  .back-btn {
    svg {
      transform: rotateY(180deg);
    }
  }
}
