.main-image-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 825px;
  gap: 8px;

  .div-image-container {
    display: flex;
    width: 49.455%;
    height: 408px;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);

    .div-zoom-icon {
      position: absolute;
      bottom: 8.5px;
      right: 9.5px;
      opacity: 0;
      transition: opacity 0.25s;
    }

    &:hover {
      .div-zoom-icon {
        opacity: 1;
      }
    }
  }
}
