@import "/styles/variables.scss";

.review-modal {
  &_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100;
    padding: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    @media (min-width: $breakPoint-desktop) {
      padding: 24px;
    }

    &[data-open="true"] {
      transform: scale(1);
      opacity: 1;
    }
  }

  &_header {
    position: sticky;
    top: 0;
    background-color: $white-color;
  }

  &_body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    padding-top: 16px;
    padding-inline-end: 10px;
    padding-bottom: 20px;
    padding-inline-start: 20px;
    background-color: $white-color;
    border-radius: 0;

    @media (min-width: $breakPoint-desktop) {
      width: 40.374%;
      padding-top: 38px;
      height: 622px;
      padding-inline-end: 20px;
      padding-inline-start: 40px;
      border-radius: 8px;
    }
  }

  &_content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-inline-end: 10px;

    @media (min-width: $breakPoint-desktop) {
      height: 590px;
      padding-top: 0;
      padding-inline-end: 20px;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      outline: 0;
    }
  }
}

.close-btn {
  margin-bottom: 5.03px;
  cursor: pointer;
  text-align: end;
}

.heading {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  // text-transform: capitalize;
  color: $black-color;
}

.review-sec {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
  scroll-margin-block-start: 80px;

  .rating-label {
    margin: 0;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

.form-wrapper {
  margin-top: 24px;
}

.field {
  width: 100%;
  margin-bottom: 24px;
  text-align: start;

  input,
  textarea {
    width: 100%;
    height: 40px;
    padding: 20px;
    outline: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0em;
    text-align: start;
  }
}

.errors {
  input,
  textarea {
    border: 1px solid red;
  }
}

.field-label {
  margin: 0;
  padding-inline-start: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: start;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.review-field {
  margin-bottom: 24px;

  textarea {
    height: 141px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .field {
    text-align: start;
    width: 49%;
  }
}

.error-msg {
  min-height: 20px;
  padding-top: 4px;
  padding-inline-start: 20px;
  text-align: start;
  font-size: 12px;
  color: rgba(255, 0, 0, 1);
}

.rating-error {
  margin: 0;
  margin-top: 8px;
  color: rgba(255, 0, 0, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  letter-spacing: 0em;
  text-align: center;
}

.submit-btn {
  position: sticky;
  bottom: 15px;
  text-align: end;

  @media (min-width: $breakPoint-desktop) {
    bottom: 40px;
  }

  button {
    cursor: pointer;
    width: 200px;
    height: 51px;
    border: 0;
    border-radius: 100px;
    background-color: $black-color;
    color: $white-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
  }
}

.uploaded-imgs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .img-item {
    position: relative;
    margin-inline-end: 8px;
  }
}

.img-label {
  cursor: pointer;
  border: 1px dotted $black-color;
  background-color: rgba(0, 0, 0, 0.02);
  width: 89px;
  height: 88px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  input {
    display: none;
  }
}

.cross-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
}
