.mobile-header {
  &__wrapper {
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff;
  }

  &__left,
  &__right {
    button {
      background-color: transparent;
      border: 0;
      padding: 0;

      &:first-child {
        margin-inline-end: 10px;
      }
    }
  }

  &__brand-name {
    margin-top: 29px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: start;
    color: #000000;
  }

  &__menu {
    &-wrapper {
      position: absolute;
      top: 0;
      inset-inline-end: 0;
      bottom: 0;
      inset-inline-start: 0;
      height: 100vh;
      padding: 24px 24px 60px 24px;
      z-index: 2;
      background-color: #fff;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      overflow-y: auto;
    }

    &-active {
      transform: translateX(0);
      opacity: 1;
    }

    &-close-icon {
      width: 100%;
      text-align: end;

      &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          background-color: transparent;
          border: 0;
        }

        span {
          margin-inline-start: 4.77px;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
        }
      }

      button {
        background-color: transparent;
        border: 0;
      }

      span {
        margin-inline-start: 4.77px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
      }
    }

    &-list-wrapper {
      margin-top: 32px;
    }

    &-list {
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 16px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: start;
        color: #000000;

        a {
          color: #000000;
          text-decoration: none;
        }

        span {
          padding-inline-end: 10px;
        }
      }
    }
  }

  &__menu-title {
    margin-top: 32px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
    color: #000000;
  }

  &__sub-menu {
    &-wrapper {
      position: absolute;
      top: 0;
      inset-inline-end: 0;
      bottom: 0;
      inset-inline-start: 0;
      height: 100vh;
      padding: 24px 24px 60px 24px;
      z-index: 2;
      background-color: #fff;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;
      overflow-y: auto;
    }

    &-active {
      transform: translate(0);
      opacity: 1;
    }

    &-close-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: 0;
      }
    }

    &-back-btn {
      display: flex;
      align-items: center;
      text-transform: capitalize;

      span {
        margin-inline-start: 4.77px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
      }
    }

    &-list-wrapper {
      margin-top: 32px;
    }

    &-list-items,
    &-list-item {
      list-style: none;
    }

    &-list-items {
      margin-bottom: 36px;

      p {
        margin: 0;
      }
    }

    &-list-item {
      margin-bottom: 16px;
      margin-inline-start: 16px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      list-style: none;
      text-align: start;

      &:first-child {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #000000;
        text-decoration: none;
        opacity: 0.6;

        &[data-isBold="true"] {
          opacity: 1;
        }
      }
    }

    &-heading {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: start;
      text-transform: capitalize;
      color: #000000;
    }
  }

  &__boutique-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
    text-transform: capitalize;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__user-links {
    &-item {
      margin-bottom: 18px;
      list-style: none;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: start;

      a {
        display: inline-flex;
        align-items: center;
        color: #000000;
        text-decoration: none;

        svg {
          margin-inline-end: 17px;
        }
      }
    }
  }

  &__auth-btns {
    margin-top: 64px;
    text-align: center;

    button {
      &[data-size="sm"] {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0em;
        text-decoration: underline;
      }
    }
  }

  &__signout-btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      letter-spacing: 0em;
      text-transform: capitalize;
    }

    svg {
      margin-inline-end: 10px;
    }
  }

  &__lang {
    &-selected {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 16px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      color: #000000;
    }

    &-arrow {
      top: 10px !important;

      svg {
        transform: rotateZ(90deg);
      }
    }

    &-options {
      display: none;
      border-top: 1px solid #000;
      padding-top: 10px;

      li {
        list-style: none;
        margin-bottom: 16px;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        color: #000000;

        &[data-selected="true"] {
          font-weight: 700;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            margin-inline-end: 26px;

            &:first-child {
              display: flex;
              align-items: center;
              text-transform: uppercase;
            }
          }

          img {
            margin-inline-start: 0 !important;
            margin-inline-end: 10px;
          }
        }
      }
    }

    &-dropdown {
      &[data-open="true"] {
        ul {
          display: block;
        }
      }
    }

    &-left-side {
      display: flex;
      align-items: center;

      span {
        margin-inline-start: 10px;
        text-transform: uppercase;
      }
    }

    &-right-side {
      span {
        margin-inline-end: 26px;
        text-transform: capitalize;
      }

      svg {
        transform: rotateZ(90deg);
      }
    }
  }
}

html[dir="rtl"] {
  .mobile-header {
    &__menu {
      &-wrapper {
        transform: translateX(100%);
      }

      &-list-item {
        svg {
          transform: rotateY(180deg);
        }
      }
    }

    &__boutique-btn {
      svg {
        transform: rotateY(180deg);
      }
    }

    &__menu-active {
      transform: translateX(0);
    }

    &__sub-menu {
      &-wrapper {
        transform: translateX(100%);
      }

      &-active {
        transform: translateX(0);
      }

      &-back-btn {
        svg {
          transform: rotateY(180deg);
        }
      }
    }

    &__signout-btn {
      svg {
        transform: rotateY(180deg);
      }
    }
  }
}
