.product-card {
  &__wrapper {
    width: 49%;
    height: auto;

    @media (min-width: 1024px) {
      width: 24.532%;
    }

    &:hover {
      .product-card__addtocart-btn {
        @media (min-width: 1024px) {
          display: block;
        }
      }
    }
  }

  &__img-wrapper {
    position: relative;
    background-color: #fafafa;
  }

  &__wishlist-icon {
    position: absolute;
    top: 13px;
    inset-inline-end: 11.83px;
    inset-inline-start: auto;
    z-index: 10;
    cursor: pointer;
  }

  &__title {
    margin: 16px 0 8px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0em;
    text-align: start;
    color: #000000;
    text-transform: capitalize;
  }

  &__price {
    &-wrapper {
      display: flex;
      align-items: center;
    }

    &__base-price {
      margin: 0;
      margin-inline-end: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      letter-spacing: 0em;
      color: #000000;
    }

    &-discount {
      margin: 0;
      margin-inline-end: 4px;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.6px;
      letter-spacing: 0em;
      color: #000000;
    }

    &__discounted-price {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      letter-spacing: 0em;
      color: #da0059;
    }
  }

  &__addtocart-btn {
    z-index: 10;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 13px;
    left: 0;
    text-align: center;
    display: none;
  }

  &__tag {
    z-index: 9;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 4px 0;
    background-color: #dbe9da;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      padding: 4px 0 5px 0;
      font-size: 14px;
      line-height: 16.8px;
    }
  }
}
