@import "/styles/variables.scss";

.div-modal-main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  padding: 0;
  overflow-y: auto;

  @media (min-width: $breakPoint-desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  .div-top-bar {
    display: flex;
    width: 100%;

    .div-left {
      flex: 1;
    }
  }

  &[data-open="true"] {
    transform: translateX(0);
    opacity: 1;
  }

  &[data-open="false"] {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.register-modal {
  @media (min-width: $breakPoint-desktop) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.div-modal-body {
  margin-top: 45px;
}

html[dir="rtl"] {
  .div-modal-main {
    &[data-open="true"] {
      transform: translateX(0);
      opacity: 1;
    }

    &[data-open="false"] {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.feedback-modal {
  @media (min-width: $breakPoint-desktop) {
    display: block;
    padding-block-start: 100px;
    padding-block-end: 178px;
    display: flex;
    background-color: #e5e5e5;
  }

  &.div-feedbackBody {
    margin-top: 41px;
    @media (min-width: $breakPoint-desktop) {
      background-color: #e5e5e5;
      width: 562px;
      margin-top: 60px;
    }
  }
}

.bg-blury-modal {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: fit-content;

  &.div-modal-main {
    &[data-open="true"] {
      display: block;
    }

    &[data-open="false"] {
      display: none;
    }
  }
}

.bg-blury-modal {
  &_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100;
    padding: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    @media (min-width: $breakPoint-desktop) {
      padding: 24px;
    }

    &[data-open="true"] {
      transform: scale(1);
      opacity: 1;
    }
  }

  &_body {
    margin: 0 auto;
    padding: 38px 20px 40px;
    overflow-y: auto;
    background-color: $white-color;
    box-shadow: 0px 4px 40px 0px #0000000d;
    border-radius: 8px;

    @media (min-width: $breakPoint-desktop) {
      padding: 38px 40px 40px;
    }
  }

  &_cross-btn {
    cursor: pointer;
    text-align: end;
  }
}
