@import "/styles/variables.scss";

.div-modal-main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  padding: 0;
  // overflow-y: auto;

  @media (min-width: $breakPoint-desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  .modal-body {
    background: $white-color;
    background-color: #fff;
    box-shadow: 0 4px 40px 0 rgb(0 0 0 / 5%);
    overflow: auto;

    .div-top-bar {
      display: flex;
      width: 100%;
      margin-bottom: 45px;

      @media (min-width: $breakPoint-desktop) {
        margin-bottom: 0;
      }

      .div-left {
        flex: 1;
      }

      .div-right {
        cursor: pointer;
      }
    }

    .div-modal-body {
      @media (min-width: $breakPoint-desktop) {
        height: 100%;
      }
    }

    @media (min-width: $breakPoint-desktop) {
      overflow: hidden;
    }
  }
  :where(.modal-body) {
    overflow-y: auto;
    padding: 38px 20px 40px;
    border-radius: 8px;
    @media (min-width: $breakPoint-desktop) {
      padding: 38px 40px 40px;
    }
  }

  @media (max-width: $breakPoint-desktop) {
    &[data-open="true"] {
      transform: translateX(0);
      opacity: 1;
    }

    &[data-open="false"] {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @media (min-width: $breakPoint-desktop) {
    &[data-open="true"] {
      opacity: 1;
    }

    &[data-open="false"] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e5e5e5;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  padding: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;

  @media (min-width: $breakPoint-desktop) {
    &[data-is-blurry="true"] {
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    &[data-open="true"] {
      opacity: 1;
    }

    &[data-open="false"] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.register-modal {
  @media (min-width: $breakPoint-desktop) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

html[dir="rtl"] {
  @media (max-width: $breakPoint-desktop) {
    .div-modal-main {
      &[data-open="true"] {
        transform: translateX(0);
        opacity: 1;
      }

      &[data-open="false"] {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }
}
