@import "/styles/variables.scss";
.account-newsletter-container {
  width: 650px;
  @media (max-width: $breakPoint-desktop) {
    width: 375px;
  }
  .account-newsletter-heading-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background: #ffffff;
    margin-bottom: 8px;
    @media (max-width: $breakPoint-desktop) {
      margin-bottom: 0px;
      padding: 24px;
    }
    .account-newsletter-heading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: #000000;
      margin-top: 4.21px;
    }
  }

  .account-newsletter-content-section {
    padding: 40px;
    background: #ffffff;
    @media (max-width: $breakPoint-desktop) {
      padding: 24px;
      padding-top: 0px;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .Save-button {
        display: flex;
        justify-content: right;
        width: 200px;
        height: 51px;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        padding-left: 82.5px;
        padding-right: 82.5px;
        background: #000000;
        border-radius: 100px;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        display: flex;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
      }
    }
  }
  .Checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    label {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 3px;
    }
    input {
      margin: 0px;
      width: 20px;
      height: 20px;
    }
    .Checkbox-1,
    .Checkbox-2,
    .Checkbox-3,
    .Checkbox-4,
    .Checkbox-5 {
      height: 20px;
      display: flex;
      justify-content: center;
    }
    input[type="checkbox"] {
      accent-color: black;
    }
  }
}
