@import "/styles/variables.scss";

.menu {
  &__heading {
    margin: 0 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
  }

  &__links {
    li {
      margin-bottom: 16px;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        color: $white-color;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}

.collapse {
  &__wrapper {
    margin-bottom: 26px;
    outline: 0;

    input {
      min-height: auto !important;
      padding: 0 !important;
    }
  }

  &__custom-title {
    display: flex;
    align-items: center;
    padding: 0 !important;
    min-height: 30px !important;
  }

  &__custom-content {
    padding-inline-start: 8px;
    padding-bottom: 0 !important;
    text-align: start;

    ul {
      padding-top: 25px;
    }
  }
}
