.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 80px 40px;
    background-color: #000000;
    color: #ffffff;
  }

  &__sub-container {
    &:first-child {
      @media (min-width: 1024px) {
        padding-right: 50px;
      }
    }
  }

  &__heading,
  &__label {
    color: #ffffff;
  }

  &__heading {
    margin: 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
  }

  &__label {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  &__signup-text,
  &__social-link-text {
    font-size: 12px;
    line-height: 15.6px;
  }

  &__signup-text {
    margin-top: 16px;
  }

  &__signup-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 138px;
    min-height: 40px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #ffffff;
    color: #000000;
    border-radius: 100px;
  }

  &__inner-container,
  &__sub-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner-container {
    margin-top: 80px;
  }

  &__sub-footer {
    margin-top: 109px;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);

    li {
      cursor: alias;
      margin-inline-end: 12px !important;

      &:last-child {
        margin-inline-end: 0;
      }

      a {
        cursor: auto;
      }
    }
  }
}
