.explore-image {
  height: 353px;
  width: 264px;

  @media (min-width: 768px) {
    height: 423px !important;
    width: 421.3333435058594px !important;
  }
}

.explore-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  @media (min-width: 768px) {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }
}
