@import "/styles/variables.scss";

.reviews-wrapper {
  padding: 40px 16px;

  @media (min-width: $breakPoint-desktop) {
    padding: 42px 96px 144px;
  }

  .review {
    margin-bottom: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.customer-name {
  margin: 0;
  margin-bottom: 11px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  text-transform: capitalize;
  color: #1a1a1a;

  @media (min-width: $breakPoint-desktop) {
    margin-bottom: 9.67px;
  }
}

.review-content {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0em;
  text-align: start;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 28px;
  margin-bottom: 24px;
  word-break: break-word;

  @media (min-width: $breakPoint-desktop) {
    margin-top: 25.67px;
    margin-bottom: 0;
  }
}

.date {
  margin: 0;
  margin-top: 24px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  color: rgba(26, 26, 26, 0.4);
}

.review-img {
  width: 89px;
  height: 88px;
  margin-top: 24px;
}

.write-review-btn {
  display: flex;
  justify-content: center;

  @media (min-width: $breakPoint-desktop) {
    justify-content: flex-start;
  }

  button {
    cursor: pointer;
    width: 200px;
    height: 51px;
    background-color: $black-color;
    color: $white-color;
    border: 0;
    border-radius: 100px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
  }
}

.review-summary {
  margin-bottom: 35px;

  @media (min-width: $breakPoint-desktop) {
    margin-bottom: 52px;
  }

  .total-review-label {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: start;
    text-transform: capitalize;
  }

  .review-summary-stars {
    display: flex;
    align-items: center;
    margin-top: 19px;

    @media (min-width: $breakPoint-desktop) {
      margin-top: 25.67px;
    }

    .total-rating {
      margin: 0;
      margin-inline-start: 10.67px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: start;
      color: rgba(0, 0, 0, 0.6);
    }

    svg {
      margin-inline-end: 3.33px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}
