.content {
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: start;
}

.heading {
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: start;
margin-top: 14px;
margin-bottom: 40px;
}

.image {
    width: 20px;
    height: 20px
}