@import "/styles/variables.scss";

.navbar-lang {
  display: flex;
  position: relative;
  background: $primary-color;
  width: 100%;
  height: 164.2px;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
  font-size: 13px;
  color: $black-color;
  transition: height 0.2s cubic-bezier(0, 0, 0.2, 1),
    padding 0.2s cubic-bezier(0, 0, 0.2, 1);

  &[data-visible="true"] {
    padding: 0;
    height: 0;
    overflow: hidden;
  }

  @media (min-width: $breakPoint-desktop) {
    height: 72.1px;
    font-size: 14px;

    &[data-visible="true"] {
      padding: 0;
      height: 0;
    }
  }

  .main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-inline: 16px;

    & > div:nth-child(1) {
      height: 20px;
    }

    .selector {
      display: flex;
      margin-block-start: 16px;

      span {
        width: 164px;
        line-height: 120%;
      }

      div:nth-child(2) {
        span {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 376px) {
      align-items: flex-start;
    }

    @media (min-width: $breakPoint-desktop) {
      flex-direction: row;
      margin-inline: 0;
      padding-inline-start: 55px;
      padding-inline-end: 20px;

      & > div:nth-child(1) {
        height: 14px;
        min-width: 200px;
      }

      .selector {
        margin-block-start: 0;
        margin-inline-start: 32px;
        span {
          width: 232px;
        }
      }
    }

    @media (min-width: 1200px) {
      padding-inline-start: 189px;
      padding-inline-end: 20px;
    }

    @media (min-width: 1450px) {
      justify-content: center;
    }
  }

  .closeButton {
    position: absolute;
    top: 18px;
    inset-inline-end: 16px;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;

    svg {
      width: 12px;
      height: 12px;
    }
    @media (min-width: $breakPoint-desktop) {
      position: static;
      svg {
        margin-inline-end: 24px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

html[dir="rtl"] {
  .main-section {
    .selector {
      div:nth-child(2) {
        span {
          font-size: 13px;
          @media (min-width: $breakPoint-desktop) {
            font-size: 14px;
            line-height: 130%;
          }
        }
      }
      button {
        font-size: 15px;
      }
    }
  }
}
