.navbar-lang {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #F2F2F2;
  padding-block: 16px;
  font-size: 13px;
  color: black;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &[data-visible="true"] {
    display: none;
  }

  .main-section {
    display: flex;
    align-items: center;
    flex: 1;
    padding-inline-start: 189px;

    .selector {
      display: flex;
      margin-inline-start: 32px;

      span {
        width: 232px;
      }
    }
  }

  .closeButton {
    margin: 0;
    margin-inline-end: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;

    svg {
      width: 12px;
      height: 12px;

      @media (min-width: 1024px) {
        width: 20px;
        height: 20px;
      }
    }
  }

}
