.cards-container {
    width: 100%;
    padding: 48px 16px 64px;
  @media (min-width: 768px) {
    padding: 80px 76px;
  }
}

.cards-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }
}

.cards {
  p {
    @media (min-width: 768px) {
      color: black;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    width: 420px;
    margin: 0 4px;
  }
}
