.cards-container {
  width: 100%;
  padding: 0 80px;
}

.cards-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
