.cards-container {
  width: 100%;
  padding: 0 80px;
}

.cards-heading {
  @media (min-width: 768px) {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }
}

.cards {
  width: 420px;
  margin: 0 4px;

  &.label-c {
    display: none;
  }
}

.brand-card {
  p {
    @media (min-width: 768px) {
      color: black;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
