@import '/styles/variables.scss';

.w-100 {
  width: 100%;
  height: auto;
}
.hero-banner-block {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.hero-banner-container {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 50px;
  background: linear-gradient(to bottom right, gray, white);
}

.banner-text-section {
  z-index: 1;
}

.welcome-message {
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-content: left;
}

.welcome-message-h {
  font-size: 50px;
}

.welcome-message-p {
  font-size: 20px;
  margin-left: 20px;
}

.button-1 {
  background-color: black;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: gray;
}

.trending-h {
  margin: 20px;
}

.whats-trending-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.banner-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media (min-width: 1200px) {
  .banner-text {
    font-size: 64px;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 26px;
    margin-bottom: 32px;
  }
}

.sample-text {
  width: 190px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media (min-width: 1200px) {
  .sample-text {
    width: 270px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.banner-button {
  background: $black-color;
  border: none;
  border-radius: 100px;
  color: $white-color;
  height: 51px;
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
