.hero-banner-container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.bg-image {
  /* position: fixed; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.banner-text-section {
  position: absolute;
  top: 100px;
  left: 100px;
}