@import "/styles/variables.scss";
.account-container {
  background-color: rgba(242, 242, 242, 1);
  @media (min-width: 1024px) {
    padding-block: 90px 80px;
    padding-inline: 185px;
  }
}

.details-section {
  @media (min-width: $breakPoint-desktop) {
    display: flex;
  }
}
.account-right-side {
  @media (min-width: $breakPoint-desktop) {
    width: 60.748%;
  }
}

.account-main {
  display: none;
  cursor: pointer;
  @media (min-width: $breakPoint-desktop) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 29px;

    p {
      margin-inline-start: 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: flex-start;
      margin-block: 0;
    }
  }
}

.account-overview {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  padding-block: 11px;
  padding-inline: 28px 32px;
  margin-block-end: 8px;

  @media (min-width: $breakPoint-desktop) {
    padding-inline: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: start;
    margin-block: 0;
    margin-inline-end: 0;
    margin-inline-start: 18px;
  }
}

.account-right {
  width: 100%;
  height: 100%;
}

.account-profile-mobile {
  background-color: white;
  padding-bottom: 111px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.account-lastName {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;

  @media (min-width: $breakPoint-desktop) {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
  }
}
.account-banner {
  position: absolute;
  top: 67px;

  p {
    margin-top: 8px !important;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    span {
      display: block;
      margin-bottom: 8px;
    }
  }
}

html[dir="rtl"] {
  .account-image-text {
    word-break: break-all;
  }
}
