.account-container {
  background-color: rgba(242, 242, 242, 1);
  @media (min-width: 1024px) {
    padding-block: 90px 80px;
    padding-inline: 185px;
  }
}

.details-section {
  display: flex;
}

.account-main {
  display: none;
  cursor: pointer;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;

    p {
      margin-inline-start: 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: start;
    }
  }
}

.account-overview {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  padding-block: 11px;
  padding-inline: 28px 32px;
  margin-block-end: 8px;

  @media (min-width: 1024px) {
    padding-inline: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: start;
    margin-block: 0;
    margin-inline-end: 0;
    margin-inline-start: 18px;
  }
}

.account-right {
  width: 100%;
  height: 100%;
}

html[dir="rtl"] {
  .account-image-text {
    word-break: break-all;
  }
}
