.history-container {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.history-first {
  background-color: white;
  padding-block: 42px 40px;
  padding-inline: 40px;
  margin-bottom: 8px;
}

.history-first-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: start;
  margin-top: 8px;
  margin-bottom: 8px;
}

.history-first-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.history-second {
  background-color: white;
  padding: 40px;
  margin-bottom: 8px;
}

.history-second-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56.8px;
}

.history-second-first-block {
  display: flex;
  align-items: center;

  p {
    margin-block: 0;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
  }
}

.history-third {
  padding: 40px;
  background-color: white;
  margin-bottom: 8px;
}

.history-third-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  margin-top: 0;
  margin-bottom: 8px;
}

.history-third-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: start;
  margin-block: 0;
  color: rgba(0, 0, 0, 0.6);
}

.history-forth {
  padding: 40px;
  background-color: white;
}

.history-forth-first {
  display: flex;
  justify-content: space-between;
}

.history-forth-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  margin-block: 0;
}

.history-forth-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: start;
  margin-block: 0;
}

.history-forth-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: start;
  margin-bottom: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.history-fifth {
  background-color: white;
  padding: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.history-fifth-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.history-fifth-second {
  padding-top: 24px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: start;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
}

.history-six {
  padding: 40px;
  background-color: white;
}

.history-six-first {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: start;
  margin-block: 0 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.history-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.history-price {
  margin-top: 24px;
  margin-bottom: 16px;
}

.discount-price {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}
