@import "/styles/variables.scss";

.search-dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  z-index: 1;
  inset-inline-end: 0;
  inset-inline-start: 0;
  height: 0;
  transition: height 0.2s ease-in-out 0.1s;
  overflow: hidden;
  background: $white-color;
  padding: 16px 24px 80px 24px;

  width: 100%;
  opacity: 1;
  display: none;
  overflow-y: auto;
  pointer-events: all;

  &[data-opened="true"] {
    height: 545px;
    display: block;

    @media (max-width: $breakPoint-tablet) {
      top: 0px;
      height: 100%;
      padding: 24px;
    }
  }
}

.search-bar {
  display: flex;
  width: 100%;
  gap: 88px;
  justify-content: space-between;

  @media (max-width: $breakPoint-tablet) {
    gap: 14px;
    align-items: center;
  }

  @media (min-width: $breakPoint-tablet) and (max-width: 1400px) {
    align-items: center;
    gap: 0px;
  }

  .brand-icon {
    padding: 8px 0px 0px 0px;

    @media (max-width: $breakPoint-tablet) {
      display: none;
    }
  }

  .search-input-div {
    display: flex;
    width: 971px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    padding: 11.5px 20px 11.5px 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.4);

    @media (max-width: $breakPoint-tablet) {
      width: 79%;
      height: 40px;
      align-items: center;
      padding: 10px 20px 10px 16px;
    }

    @media (min-width: $breakPoint-tablet) and (max-width: 1400px) {
      width: 67%;
    }

    .search-input {
      border: 0px solid gray;
      padding: 0px;
      width: 300%;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      border-radius: 0px;

      @media (max-width: $breakPoint-tablet) {
        width: 110%;
      }
    }

    .search-icon {
      margin: 0.5px 14px 0.5px 2px;
      @media (max-width: $breakPoint-tablet) {
        margin: 8px 14px 2px 2px;
      }
    }
  }

  .cross-icon {
    margin-left: 68.51px;
    margin-top: 5px;
    cursor: pointer;

    @media (max-width: $breakPoint-tablet) {
      margin: 0px;
    }
  }
}

.category-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0;

  @media (min-width: $breakPoint-tablet) and (max-width: 1400px) {
    gap: 10px;
  }

  .popular-search-terms-div {
    margin-top: 40px;
    margin-left: 80px;

    @media (max-width: $breakPoint-tablet) {
      margin-left: 0px;
    }

    @media (min-width: $breakPoint-tablet) and (max-width: 1400px) {
      margin-left: 0px;
      margin-right: auto;
    }

    .popular-search-terms-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.8);
      margin: 0;
    }

    .popular-search-terms-list {
      list-style-type: none;
      margin-top: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: rgba(0, 0, 0, 0.8);

      li {
        margin-top: 16px;
      }
    }
  }

  .popular-search-products-div {
    margin-top: 40px;
    width: 1025px;

    @media (max-width: $breakPoint-tablet) {
      width: auto;
      margin-top: 0px;
    }

    @media (min-width: $breakPoint-tablet) and (max-width: 1200px) {
      width: auto;
    }

    .popular-search-products-heading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: $black-color;
      margin: 0;

      @media (max-width: $breakPoint-tablet) {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
      }
    }

    .popular-products {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      @media (max-width: 500px) {
        width: 360px;
        margin-right: 0px;
        overflow-x: scroll;
        gap: 8px;
        height: 290px;
      }

      @media (min-width: 501px) and (max-width: 768px) {
        width: auto;
      }

      .product-card {
        width: 198.6px;
        height: 256px;

        @media (max-width: $breakPoint-tablet) {
          width: 187.4px;
          height: 248px;
        }

        @media (min-width: $breakPoint-tablet) and (max-width: 1200px) {
          width: 187.4px;
          height: 248px;
        }
      }

      .swipper-card {
        @media (max-width: $breakPoint-tablet) {
          width: 187.4px;
          height: 188px;
        }
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset-inline-end: 0;
  z-index: -1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 3s 4s;
  display: none;

  &[data-opened="true"] {
    opacity: 1;
    display: block;
  }
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
