.search-dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  z-index: 1;
  inset-inline-end: 0;
  inset-inline-start: 0;
  height: 0;
  transition: height 0.2s ease-in-out 0.1s;
  overflow: hidden;
  background: #ffffff;
  padding: 16px 24px 80px;
  position: fixed;

  width: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: all;

  &[data-opened='true'] {
    height: 545px;
    opacity: 1;
  }
}

.lazurde-icon {
  margin: 10px 0px;
  padding: 7.5px 0px 0px;
}

.cross-icon {
  margin: 10px 0px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .search-input-div {
    display: flex;
    width: 971px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    margin: 10px 0px;
    padding: 10px 20px 10px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.4);

    .search-input {
      border: 0px solid gray;
      padding: 1.5px 20px 1.5px 0px;
      width: 903px;
    }

    .search-icon {
      margin: 2px 14px 2px 2px;
    }
  }
}

.category-section {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  margin: 0;

  .popular-search-terms-div {
    margin-top: 30px;
    margin-left: 80px;
  }

  .popular-search-terms-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }

  .popular-search-products-div {
    margin-top: 30px;
  }

  .popular-search-products-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin: 0;
  }
}
