@import "/styles/variables.scss";

.product-listing {
  &__wrapper {
    padding: 24px 16px 151px;

    @media (min-width: $breakPoint-desktop) {
      padding: 32px 80px 151px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    column-gap: 0.6%;

    @media (min-width: $breakPoint-desktop) {
      justify-content: flex-start;
    }
  }
}
