.dropdown {
  .dropdown-content {
    opacity: 0;
    // visibility: hidden;
    transition: opacity 0.2s;
  }

  &[data-open="true"]:focus-within .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
}

.language-selector {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__dropdown {
    min-width: 155.5px;

    @media (min-width: 1024px) {
      min-width: 137px;
    }

    &:first-child {
      margin-inline-end: 16px;
    }

    select {
      width: 100%;
      min-height: 40px;
      padding: 10px;
      border-radius: 100px;
      background-color: #ffffff;

      &:focus {
        outline: 0;
      }
    }
  }
}
