@import "/styles/variables.scss";

.language-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;

  & > div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: center;

    button {
      width: 100%;
    }
  }

  @media (min-width: $breakPoint-desktop) {
    display: flex;

    & > div:nth-child(2) {
      margin-inline: 16px 32px;
    }
    & > div:nth-child(3) {
      button {
        width: 138px;
      }
    }
  }
}
