.menu {
  &__heading {
    margin: 0 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
  }

  &__links {
    li {
      margin-bottom: 16px;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        color: #ffffff;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}

.wrapper {
  margin-bottom: 40px;

  input {
    min-height: auto !important;
    padding: 0 !important;
  }

  .div-heading {
    display: flex;
    align-items: center;
    padding: 0 !important;
    min-height: 35px !important;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .heading-text {
      flex: 1;
    }

    // .heading-icons {
    // }
  }

  .custom-content {
    padding-inline-start: 0;
    padding-bottom: 0 !important;
    text-align: start;
    display: none;

    ul {
      padding-top: 25px;
      text-decoration: none;
    }

    &[data-opened="true"] {
      display: block;
    }
  }
}

/* Plus sign animation*/
// .plus-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   width: 11px;
//   height: 11px;

//   &:before,
//   &:after {
//     content: "";
//     position: absolute;
//     background-color: black;
//     transition: transform 0.25s ease-out;
//   }

//   /* Vertical line */
//   &:before {
//     top: 0;
//     left: 50%;
//     width: 2px;
//     height: 100%;
//     margin-left: -2px;
//   }

//   /* horizontal line */
//   &:after {
//     top: 50%;
//     left: 0;
//     width: 100%;
//     height: 2px;
//     margin-top: -2px;
//   }

//   &:hover {
//     cursor: pointer;
//   }
// }

// .heading-icons {
//   &[data-opened="true"] {
//     .plus-icon {
//       &:before {
//         transform: rotate(90deg);
//       }
//       &:after {
//         transform: rotate(180deg);
//       }
//     }
//   }
// }
