.dropdown {
  position: relative;
  .select {
    display: flex;
    align-items: center;
    padding: 11px 16px 11px 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    color: #000;
  }

  .options-ul {
    display: none;
    position: absolute;
    list-style-type: none;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px 16px;
    opacity: 0;
    pointer-events: none;
    // visibility: hidden;
    transition: opacity 0.2s;
    z-index: 20;

    &[data-position='top'] {
      bottom: 100%;
    }

    .option {
      font-size: 14px;
      line-height: 120%;
      cursor: pointer;
      color: #000;
      padding-block: 8px;

      & > * {
        cursor: pointer;
      }

      &[data-selected="true"] {
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
      }
    }

  }

  &[data-open="true"] {

    .select {
      // background: rgba(0, 0, 0, 0.02);
      border: 1px solid rgba(0, 0, 0, 0.8);
    }

    & .options-ul {
      display: block;
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.language-selector {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__dropdown {
    min-width: 155.5px;

    @media (min-width: 1024px) {
      min-width: 137px;
    }

    &:first-child {
      margin-inline-end: 16px;
    }

    select {
      width: 100%;
      min-height: 40px;
      padding: 10px;
      border-radius: 100px;
      background-color: #ffffff;

      &:focus {
        outline: 0;
      }
    }
  }
}
