.dropdown {
  position: relative;
  width: 100%;
  min-width: 137px;

  .select {
    display: flex;
    align-items: center;
    padding: 11px 16px 11px 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 115%;
    color: #000;

    @media (min-width: 1024px) {
      font-size: 14px;
    }

    &.footer-dropdown-options {
      font-size: 13px;
      line-height: 15.6px;

      @media (min-width: 1024px) {
        font-size: 14px;
        line-height: 16.8px;
      }
    }
  }

  img {
    margin-inline-start: 5px;
  }

  .options-ul {
    display: none;
    position: absolute;
    list-style-type: none;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px 16px;
    opacity: 0;
    pointer-events: none;
    // visibility: hidden;
    transition: opacity 0.2s;
    z-index: 20;
    width: 100%;

    &[data-position="top"] {
      bottom: 100%;
    }

    .option {
      font-size: 14px;
      line-height: 115%;
      cursor: pointer;
      color: #000;
      padding-block: 8px;

      a {
        display: flex;
        cursor: pointer;
      }

      &[data-selected="true"] {
        font-weight: 500;
        font-size: 15px;
        line-height: 115%;
      }
    }
  }

  .select-arrow {
    position: absolute;
    top: 16px;
    inset-inline-end: 20px;
    line-height: 0;
    // transition: transform 0.2s ease-in-out;
    transform: rotateZ(0);
    transform-origin: center;
    pointer-events: none;
  }

  &[data-open="true"] {
    .select {
      // background: rgba(0, 0, 0, 0.02);
      border: 1px solid rgba(0, 0, 0, 0.8);
    }

    & .options-ul {
      display: block;
      opacity: 1;
      pointer-events: initial;
    }

    .select-arrow {
      transform: rotateZ(-180deg);
      transform-origin: center;
    }
  }
}

html[dir="rtl"] {
  .dropdown {
    .select {
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      direction: ltr;
      justify-content: flex-end;

      @media (min-width: 1024px) {
        font-size: 14px;
      }

      &.footer-dropdown-options {
        font-size: 13px;
        line-height: 15.6px;

        @media (min-width: 1024px) {
          font-size: 15px;
          line-height: 19.5px;
        }
      }
    }

    &:nth-child(1) {
      .select {
        &.footer-dropdown-options {
          font-weight: 400;

          @media (min-width: 1024px) {
            font-size: 15px;
            line-height: 18px;
            font-weight: 500;
          }
        }
      }
    }

    &:nth-child(2) {
      .select {
        &.footer-dropdown-options {
          font-weight: 500;

          @media (min-width: 1024px) {
            font-size: 15px;
            line-height: 19.5px;
            font-weight: 400;
          }
        }
      }
    }

    .option {
      display: flex;
      direction: ltr;
      justify-content: flex-end;
      margin-inline-end: 0 !important;
    }
  }
}
