.brand_sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 892px;
  z-index: 4;
  top: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s, opacity 0.2s; 
  opacity: 0;

  &[data-opened="true"] {
    transform: translateX(0);
    opacity: 1;
  }

  .text_div {
    display: flex;
    flex-direction: column;
    margin-inline: 60px;
    margin-block-start: 120px;
    margin-block-end: 60px;
    align-items: center;

    .slogan_div {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      margin-block: 16px;
    }
  }

  .brand_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    & > div {
      display: flex;
      flex-direction: column;
      color: black;
      align-items: center;
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 500;

      a {
        margin-block: 16px;
        color: black;

      }
    }
  }

}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  height: 165vh;
  top: 100%;
  right: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 3s 4s; 
  display: none;

  &[data-opened="true"] {
    opacity: 1;
    display: block;
  }

}
