.promobar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  // background-color: #c3a856;
  padding-block: 10px;
  font-family: "Roboto";
  font-size: 13px;
  color: black;
  transition: height 0.2s cubic-bezier(0, 0, 0.2, 1),
    padding 0.2s cubic-bezier(0, 0, 0.2, 1);
  overflow: hidden;
  background-color: #C3A856;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &[data-visible="true"] {
    padding: 0;
    height: 0;
  }

  .title {
    flex: 1;
    text-align: center;
  }

  .link-text {
    color: black;
    font-weight: 500;
  }

  .closeButton {
    margin: 0;
    margin-inline-end: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;

    svg {
      width: 12px;
      height: 12px;
    }

    @media (min-width: 1024px) {
      margin-inline-end: 24px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
