.promobar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  // background-color: #c3a856;
  padding-block: 12px 12px;
  font-family: "Roboto";
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.promobar[data-visible="true"] {
  display: none;
}

.link-text {
  color: black;
  font-weight: 500;
}

.closeButton {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 0;

  svg {
    width: 12px;
    height: 12px;

    @media (min-width: 1024px) {
      width: 20px;
      height: 20px;
    }
  }
}
