@import "/styles/variables.scss";

.buttonATC {
  background: $black-color;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-counter="true"] {
    justify-content: unset;
    cursor: unset;
    padding: 0;

    .div-quantity-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      // flex: 1;

      :where(.counter-decrement, .counter-increment) {
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        margin-inline: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
      }

      .counter-decrement {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .counter-span {
        width: 40px;
        height: 18px;
        // margin-inline: 24px;
      }

      .counter-increment {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .div-divider {
      display: block;
      height: 16px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      margin-inline-end: 24px;
    }
  }

  &[data-style="black"] {
    background: $black-color;
    color: $white-color;
  }

  &[data-style="white"] {
    text-decoration-line: underline;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    background: $white-color;
    color: $black-color;
  }

  &[data-size="sm"] {
    width: 138px;
    height: 40px;
  }

  &[data-size="md"] {
    width: 140px;
    height: 40px;
  }

  &[data-size="lr"] {
    width: 200px;
    height: 51px;
  }

  &[data-size="xl"] {
    width: 279px;
    height: 51px;
  }

  &[data-size="xxl"] {
    width: 327px;
    height: 51px;
  }

  &[data-size="fill"] {
    width: 100%;
    height: 50px;
  }
}
