.input-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 18px;
}

.label {
  margin-inline-start: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.input-c {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 11px 20px;
  color: #000;
  outline: none;
}
