.input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  line-height: 120%;
  width: 100%;
}

.label {
  margin-inline-start: 20px;
  margin-block-end: 4px;
  line-height: 120%;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}

.input-c {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  line-height: 120%;
  padding: 11px 20px;
  color: #000;
  outline: none;
}

.error-msg {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  width: 100%;
  display: block;
  padding-inline-start: 20px;
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
}
