.category-dropdown {
  display: flex;
  flex: 1;
  background: white;
  // justify-content: center;
  flex-direction: column;
  padding-block-start: 16px;
  column-gap: 24px;

  .div-titles {
    display: flex;
    flex-direction: column;
    color: black;
    flex: 1;
    max-height: 300px;
    min-height: 200px;
    flex-wrap: wrap;
    overflow: auto;

    .title {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      width: 180px;
      margin-block-end: 8px;
      height: 27px;

      // &:nth-child(1) {
      //   height: 35px;
      // }

      .div-tick {
        width: 20px;
        height: 19px;
        display: inline-flex;
        opacity: 0;
        align-items: center;
        justify-content: center;
        margin-inline-start: 8px;
        transition: opacity 0.2s ease-in-out;
        color: #000000;

        &[data-showTick="true"] {
          opacity: 1;
        }
      }
    }
  }

  .div-filter-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-inline-end: 80px;
    padding-block-end: 16px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    button {
      transition: width 0.1s ease-in-out;
    }

    &[data-has-count="false"] {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;
    }
  }
}


