@import "/styles/variables.scss";

.term-comtainer {
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  @media (min-width: 1023px) {
    padding-inline: 185px;
    padding-block-end: 80px;
  }
}

.term-section {
  @media (min-width: $breakPoint-desktop) {
    display: flex;
  }
}

.term-left {
  cursor: pointer;
  display: none;
  background-color: white;
  padding-block-start: 43px;
  padding: 43px 24px 24px;

  &[data-opened="true"] {
    display: block;
  }

  @media (min-width: $breakPoint-desktop) {
    width: 39%;
    height: fit-content;
    display: block;
    padding-inline-start: 16px;
    margin-inline-end: 60px;
    margin-top: 150px;
  }

  p {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: start;
    margin: 0 16px 22px;
  }
  .back-block {
    padding-top: 340px;

    @media (min-width: $breakPoint-desktop) {
      display: none;
    }
  }
}

.term-block {
  cursor: pointer;
  display: flex;
}

.term-right {
  background-color: white;
  padding: 24px;

  &:nth-child(3) {
    padding-top: 0;
    padding-inline: 0;
  }
  @media (min-width: $breakPoint-desktop) {
    width: 100%;
    padding: 40px;
  }
  .content-container {
    .content {
      p {
        font-size: 13px;
      }
    }
  }
  .back-block {
    padding-top: 48px;

    @media (min-width: $breakPoint-desktop) {
      display: none;
    }
  }
}

.term-image {
  cursor: pointer;
  width: 20px;
  height: 20px;

  img {
    width: auto;
  }
}

.accordion-block {
  margin-top: 8px;
  background-color: #f2f2f2;
  cursor: pointer;

  @media (min-width: 1024px) {
    padding-block: 40px;
    padding-inline: 48px;
    background-color: white;
  }
}

.back-button {
  background-color: white;
  margin-bottom: 8px;
  padding-inline: 16px;
  padding-block: 16px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: black;

  button {
    color: black;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.back-content {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: start;
  border: none;
  background-color: white;
}

.button {
  padding-block: 16px;
  padding-inline: 40px;
  background-color: #922840;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  color: white;
  margin-left: auto;

  p {
    margin-inline-start: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.term-right-container {
  &[data-opened="true"] {
    display: none;
  }

  @media (min-width: $breakPoint-desktop) {
    width: 71%;
    margin-top: 80px;
  }
  .term-heading {
    display: none;
    @media (min-width: $breakPoint-desktop) {
      display: block;
      font-size: 32px;
      font-weight: 500;
      line-height: 38px;
      letter-spacing: 0em;
      margin-top: 0px;
      margin-bottom: 32px;
    }
  }
}

.bread-crumb {
  cursor: pointer;
  &_item {
    display: none;
    @media (min-width: 1024px) {
      margin-inline-start: 39.5%;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: start;
      text-decoration: none;
      text-transform: capitalize;

      p {
        margin: 0;
        margin-inline-start: 5px;
      }

      a {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: start;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}

html[dir="rtl"] {
  .bread-crumb {
    &_item {
      a {
        direction: ltr;
      }
    }
  }
}
