.card-slider {
  &__wrapper {
    width: 100%;
    padding: 48px 16px 64px 16px;
    padding-inline-end: 0;

    @media (min-width: 1024px) {
      padding: 83.5px 80px 80px;
    }
  }

  &__section-heading {
    margin-bottom: -30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: start;
    text-transform: capitalize;
  }
}

