.banner-container {

    @media (min-width: 1024px) {
        display: flex;
    }
}

.banner-text-section {
    padding-inline-start: 16px;

    @media (min-width: 1024px) {
        padding-inline-start: 80px;
        width: 56%;
    }
}

.banner-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: start;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 19px;
    padding-bottom: 16px;

    @media (min-width: 1024px) {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        padding-top: 71px;
        margin-bottom: 16px;
    }
}

.banner-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: black;
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-end: 153px;

    @media (min-width : 1024px) {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 87px;
        padding-inline-end: 10px;
    }
}

.banner-image-section {
    width: 100%;
    height: 100%;
    float: right;
    @media (min-width: 1024px) {
        float: left;
    }
}