.container-404 {
    width: 100%;
    text-align: center;
    padding-block: 150px;
}

.title-404 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    margin-top: 0;
    margin-bottom: 40px;
}

.text-404 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 40px;
    margin-bottom: 9px;
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 0;
}

.links-link {
    a {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        color: black;
        text-decoration: none;
        margin-right: 4px;

    }
}

.seperator {
    &::before {
        content: '|';
        margin-right: 4px;
        width: 4px;
    }
}