@import "/styles/variables.scss";

.notifyme-modal-body {
  .heading {
    margin: 0;
    color: $black-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: start;
    text-transform: capitalize;
  }

  .sub-heading {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0em;
    text-align: start;
  }
}

.form-wrapper {
  .form-input {
    position: relative;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 25.5px;

    input {
      width: 100%;
      height: 40px;
      padding-inline-start: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      color: $black-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      letter-spacing: 0em;
      text-align: start;

      &::placeholder {
        color: $black-color;
        opacity: 0.2;
      }
    }
  }

  .input-label {
    margin: 0;
    padding-inline-start: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: 0em;
    text-align: start;
    color: rgba(0, 0, 0, 0.6);
  }

  .error-msg {
    position: absolute;
    bottom: -15px;
    width: 100%;
    display: block;
    padding-inline-start: 20px;
    color: red;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
  }
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  margin-inline-end: 16px;
  padding-inline-start: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid $black-color;
  border-radius: 4px;
}

.checkbox-label {
  color: $black-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0em;
  text-align: start;
}

.checkbox-wrapper {
  input {
    display: none;

    &:checked {
      & + .checkbox-label {
        .checkbox-icon {
          border: 0;
          background-color: $black-color;
        }
      }
    }
  }
}

.submit-btn {
  margin-top: 25.5px;
  text-align: end;

  button {
    cursor: pointer;
    width: 200px;
    height: 51px;
    background-color: $black-color;
    color: $white-color;
    border: 0;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
  }
}
