.cards-container {
  width: 100%;
  padding: 48px 16px 64px;
  padding-inline-end: 0;

  @media (min-width: 1024px) {
    padding: 80px 76px;
  }
}

.cards-heading {
  color: black;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: start;

  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

.arabic-title {
  p {
    font-weight: 600 !important;
  }
}

.cards {
  p {
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: start;

    @media (min-width: 1024px) {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  span {
    height: 353px !important;

    @media (min-width: 1024px) {
      width: 100% !important;
      height: 100% !important;
    }
  }
}