.category-dropdown {
  display: flex;
  flex: 1;
  background: white;
  justify-content: center;
  padding-block-start: 32px;
  column-gap: 24px;

  & > div {
    display: flex;
    flex-direction: column;
    width: 211px;
    color: black;

    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      margin-block-end: 24px;
    }

    .links {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      a {
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;

        &[data-isBold="true"] {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
