@import "/styles/variables.scss";

.upper-section {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin-top: 42px;

  @media (min-width: $breakPoint-desktop) {
    flex-direction: row;
    margin-inline-end: 80px;
    margin-bottom: 40px;
    margin-inline-start: 80px;
    // height: 994px;
  }

  .left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakPoint-desktop) {
      // width: 63.658%;
      margin-inline-end: 24px;
    }
  }

  .right-side {
    width: 343px;
    margin-top: 56px;
    margin-inline-start: 16px;

    @media (min-width: $breakPoint-desktop) {
      width: 40.5vw;
      min-width: 330px;
      max-width: 391px;
      padding-inline: 16px;
      margin-top: 40px;
    }
  }
}

.product-feature-detail {
  @media (min-width: $breakPoint-desktop) {
    padding-inline-end: 80px;
    padding-inline-start: 80px;
  }
}

.color-selection-wrapper {
  margin-top: 32px;

  .color-heading {
    margin: 0;
    padding-bottom: 8px;
    color: $black-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
