@import "/styles/variables.scss";

.upper-section {
  display: flex;
  justify-content: space-between;

  @media (min-width: $breakPoint-desktop) {
    padding-top: 42px;
    padding-inline-end: 64px;
    padding-bottom: 41.5px;
    padding-inline-start: 80px;
  }

  .left-side {
    width: 63.658%;
  }

  .right-side {
    width: 30%;
    padding-top: 40px;
  }
}

.product-feature-detail {
  padding-inline-end: 80px;
  padding-inline-start: 80px;
}

.color-selection-wrapper {
  margin-top: 32px;

  .color-heading {
    margin: 0;
    padding-bottom: 8px;
    color: $black-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
