@import "/styles/slider.scss";
@import "/styles/alert.scss";

// @font-face {
//   font-family: "Roboto";
//   src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("/fonts/roboto/Roboto-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto2/roboto-v30-latin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto2/roboto-v30-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto2/roboto-v30-latin-700.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;

  @media (min-width: 1024px) {
    overflow: hidden;
  }
}
#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
}

html[dir="rtl"] html,
html[dir="rtl"] body,
html[dir="rtl"] * {
  font-family: "Cairo", sans-serif;
}

* {
  box-sizing: border-box;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.component-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding-block: 16px;
  padding-inline: 40px;
  background-color: #922840;
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  color: white;
  margin-bottom: 24px;
  margin-left: auto;

  p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.back-block {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    padding-top: 4px;
    padding-inline-end: 24px;
    background-color: white;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
