@import "/styles/slider.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

html[dir="rtl"] html,
html[dir="rtl"] body {
  font-family: "Cairo", sans-serif;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.collapse-arrow {
  .collapse-title {
    &:after {
      top: 10px !important;
    }

    &.plus-minus-icon {
      &:after {
        content: "+";
        transform: rotateX(0);
        width: 0;
        height: 0;
      }
    }
  }

  &:not(.collapse-close) {
    input[type="checkbox"] {
      &:checked ~ .collapse-title {
        &.plus-minus-icon {
          &:after {
            content: "_";
            top: -5px !important;
            transform: rotate(0) !important;
          }
        }
      }
    }
  }
}

// .collapse-arrow:not(.collapse-close)
//   input[type="checkbox"]:checked
//   ~ .collapse-title:after
//   html[dir="rtl"] {
//   .collapse-arrow {
//     .collapse-title {
//       &:after {
//         inset-inline-end: 0;
//         inset-inline-start: auto;
//       }
//     }
//   }
// }

@tailwind base;
@tailwind components;
@tailwind utilities;
