.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links a {
  margin-bottom: 15px;
}
