.accountsidebar-wrapper {
    // width: 372px;
    // margin: 100px auto;
    width: 372px;
    margin: 100px auto 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .login-account {
        .login-heading {

            font-family: Roboto;
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: #000;
        }

        .login-label {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #000;

        }
    }

  
}