@import "/styles/variables.scss";

.hero-banner-wrapper {
  width: 100%;

  .hero-banner-container {
    height: 454px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    background: linear-gradient(to bottom right, gray, white);

    .banner-text-section {
      width: 98%;
      .banner-text {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: $black-color;
        text-align: start;
        margin-top: 0;
        margin-bottom: 0;
        padding-inline-end: 145px;
        z-index: 99;
      }
      .sample-text {
        width: 190px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        margin-top: 0;
        margin-bottom: 24px;
        color: black;
        @media (min-width: $breakPoint-desktop) {
          width: 330px;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 32px;
          color: black;
          z-index: 99;
        }
      }
    }

    @media (min-width: $breakPoint-desktop) {
      padding: 76px 50px 50px 80px;
      height: 700px;
    }
  }
}

.main-wrapper {
  padding-top: 80px;
  width: 577px;

  .heading-wrapper {
    font-size: 32px;
    line-height: 120%;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
    color: black;
  }

  .text-wrapper {
    font-size: 15px;
    line-height: 120%;
    text-align: center;
  }

  .form-wrapper {
    margin-top: 40px;

    .address-input {
      width: 100%;
      margin-top: 4px;
    }
    .field-input {
      width: 100%;
      margin-top: 4px;
      margin-bottom: 24px;
    }

    .div-two-columns {
      display: flex;
      column-gap: 16px;
      margin-bottom: 24px;
    }

    .signup-btn {
      width: 100%;
      text-align: center;
      Button {
        margin-top: 16px;
        margin-bottom: 24px;
      }
    }
  }
}
